* {
   box-sizing: border-box; 
}
body {
    background-color: rgb(175, 207, 197);
}
header {
    text-align: center;
    text-transform: capitalize;
    text-decoration: solid;
    color: rgb(12, 41, 41);
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header img{
    width: calc(80%);
}
section img{
    overflow:auto;
    display:ruby-base-container;
    width:15%;
    height:180px;
}
article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    color: rgb(25, 49, 49);
} 

